<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itcr.eecc.eecc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectForm"
            android:label="@string/title_activity_project_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Projects"
            android:label="@string/title_activity_projects"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".CorrosionIndex"
            android:label="@string/CI_ScreenTitle"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity
            android:name=".StructuralDamage"
            android:label="@string/SDI_ScreenTitle"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".EvaluationMenu"
            android:label="@string/text_Evaluation"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".StructuralIndex"
            android:label="@string/SI_ScreenTitle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadProject"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ProjectInformation"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".EditProject"
            android:label="Editar"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Flexion"
            android:label="@string/Flexion_ScreenTitle"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Flexocompresion"
            android:label="@string/Flexo_ScreenTitle"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Report"></activity>

    </application>

</manifest>